<div class="container-about">
   <div class="d-sm-flex align-items-center justify-content-between">
      <h3 id="about-head">
         <span class="text-danger">
            AnnaTech -
         </span>
         <span class="text-success">
            From Engineering And Innovation... To Success
         </span>
      </h3>
   </div>
   <div>
      <p class="lead my-4" id="about-body">We bring your visions to life. As a full-service architecture firm with
         integrated engineering services, we help you create designs that work in the real world, and that are as
         functional as they are visually stimulating.
         <br>
         <br>
         Our architects are dedicated to providing you with an effective design solution, delivered through
         collaboration with our in-house structural, civil, and MEP engineering experts. These skilled professionals
         work together every day, and they understand each other's fields, so their collaborations help streamline your
         design and construction process, save you money and time, and avoid miscommunications that can lead to errors.
      </p>
   </div>
</div>