<div class="jumbotron">
   <h1 class="display-4" id="jumbo-head">Hello, Welcome To AnnaTech Admin Dashboard Screen!!!</h1>
   <p class="lead" id="jumbo-body1">We have created this Admin Dashboard panel, so that after Admin Login, we redirect
      request
      to this page</p>
   <hr class="my-4">
   <p id="jumbo-body2">Our mission is to make a profound impact on the world starting with our community, our goal is to
      provide top quality architectural designs, engineering and and planning for you.
      <br>

      At AnnaTech, we put our expertise to work to ensure yoou get top quality projects... and our projects speaks for
      us, we are changing the world with our project.
   </p>
   <a class="btn btn-dark" href="#" role="button" id="jumbo-btn">Subscribe</a>
</div>